body {
	font-family: "Noto Serif", serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

header {
	background-color: blue;
	color: white;
	width: 100%;
	height: 50px;
}
header section {
	cursor: pointer;
	float: left;
	font-weight: bold;
	min-width: 200px;
	height: 35px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
}
header nav {
	height: 100%;
}
header nav ul {
	display: block;
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	height: 100%;
}
header nav ul.main_navigation li {
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	height: 35px;
}
header nav ul li:hover {
	background-color: white;
	color: blue;
	cursor: pointer;
}
header nav ul.main_navigation li.active {
	background-color: white;
	color: blue;
	cursor: default;
}

#content {
	color: white;
	position: relative;
}
#mail_folders {
	background-color: lightblue;
	min-width: 220px;
}
#mail_folders ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#mail_folders ul li {
	background-color: blue;
}
#mail_folders ul li:hover {
	background-color: white;
	color: blue;
	cursor: pointer;
}
#mail_folders ul li.active {
	background-color: white;
	color: blue;
	cursor: default;
}
#mail_folder_content {
	background-color: lightgray;
}

#content {
	width: 100%;
	height: 100%;
}
.content {
	display: none;
	width: 100%;
	height: 100%;
}

.fullscreen {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}

td.center {
	text-align: center;
}

.table {
	display: table;
}
.table_row {
	display: table-row;
}
.table_column {
	display: table-column;
}
.table_cell {
	display: table-cell;
}
