<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="file" xsi:type="File" fileName="eMailServer.log" archiveAboveSize="1073741824" keepFileOpen="true" encoding="utf-8"/>
		<target name="console" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}"/>
	</targets>
	<rules>
		<logger name="eMailServer.*" maxlevel="Trace" writeTo="file" />
		<logger name="eMailServer.*" minlevel="Debug" writeTo="console" />
		<logger name="TcpRequestHandler.*" maxlevel="Trace" writeTo="file" />
		<logger name="TcpRequestHandler.*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>